<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>Home Page | AiD</title>
	<link rel="icon" type="image/png" href="/img/logo.png">

	<link href="/css/app.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body id="body" onload="start()">
	<div class="main">
		<nav class="navbar navbar-expand navbar-light navbar-bg">
			<a class="sidebar-toggle js-sidebar-toggle">
				<h1>User Dashboard</h1>
			</a>

			<div class="navbar-collapse collapse">
				<ul class="navbar-nav navbar-align">
					<li class="nav-item dropdown">
						<a role="button" class="nav-icon dropdown-toggle" onclick="adjust(1.5)"
							id="alertsDropdown" data-bs-toggle="dropdown">
							<div class="position-relative">
								<i class="fa fa-search-minus" style="font-size: xx-large;" aria-hidden="true"></i>
							</div>
						</a>
					</li>
					<li class="nav-item dropdown">
						<a role="button" class="nav-icon dropdown-toggle" onclick="adjust(1.75)"
							id="alertsDropdown" data-bs-toggle="dropdown">
							<div class="position-relative">
								<i class="fa fa-window-restore" style="font-size: xx-large;" aria-hidden="true"></i>
							</div>
						</a>
					</li>
					<li class="nav-item dropdown">
						<a role="button" class="nav-icon dropdown-toggle" onclick="adjust(2)"
							id="alertsDropdown" data-bs-toggle="dropdown">
							<div class="position-relative">
								<i class="fa fa-search-plus" style="font-size: xx-large;" aria-hidden="true"></i>
							</div>
						</a>
					</li>
					
					<li class="nav-item dropdown">
					
						<a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="/logout" >
							<span class="text-dark">Logout</span>
						</a>
						
					</li>
				</ul>
			</div>
		</nav>
		
		<div class="container">
			<!-- 1st Row -->
			<div class="row">
				<!-- Jobs Button -->
				<div class="col-md-4">
					<div class="card mt-5" onclick="location.href='/job/preferences'">
						<div class="card-body text-center">
							<i class="fa fa-briefcase font-white" style="font-size: 125px;" aria-hidden="true"></i>
							<br>
							<h1 class="font-white">Jobs</h1>
						</div>
					</div>
				</div>
				<div class="col-md-4 mt-5" onclick="location.href='/apply/applied'">
					<div class="card">
						<div class="card-body text-center">
							<i class="fa fa-check-circle font-white" style="font-size: 110px;" aria-hidden="true"></i>
							<br><br>
							<h1 class="font-white">Applied Jobs</h1>
						</div>
					</div>
				</div>
				<!-- Online Training Button -->
				<div class="col-md-4 mt-5" onclick="location.href='/training'">
					<div class="card">
						<div class="card-body text-center">
							<i class="fa fa-vcard font-white" style="font-size: 110px;" aria-hidden="true"></i>
							<br><br>
							<h1 class="font-white">Online Training</h1>
						</div>
					</div>
				</div>
			</div>
			<!-- 2nd Row -->
			<div class="row">
				<!-- Resume Button -->
				<div class="col-md-4" onclick="location.href='/resume/education'">
					<div class="card mt-2">
						<div class="card-body text-center">
							<i class="fa fa-file-text font-white" style="font-size: 110px;" aria-hidden="true"></i>
							<br><br>
							<h1 class="font-white">Resume</h1>
						</div>
					</div>
				</div>
				<!-- Blogs Button -->
				<div class="col-md-4" onclick="location.href='/blogs'">
					<div class="card mt-2">
						<div class="card-body text-center">
							<i class="fa fa-rss-square font-white" style="font-size: 130px;" aria-hidden="true"></i>
							<br>
							<h1 class="font-white">Blogs</h1>
						</div>
					</div>
				</div>

				<div class="col-md-4" onclick="location.href='/ngo'">
					<div class="card mt-2">
						<div class="card-body text-center">
							<i class="fa fa-comments font-white" style="font-size: 130px;" aria-hidden="true"></i>
							<br>
							<h1 class="font-white">Connect with NGOs</h1>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

<script>
	var isChrome = /Chrome/.test(navigator.userAgent) && /Google Inc/.test(navigator.vendor);

	var action = document.getElementById('action');

	let speech = new SpeechSynthesisUtterance();
	speech.lang = "en-US";
	speech.volume = 1;
	speech.rate = 1;
	speech.pitch = 1;

	if (!isChrome) {
		alert('Voice input not available');
	}

	function start() {
		var SpeechRecognition = SpeechRecognition || webkitSpeechRecognition;
		var recognition = new SpeechRecognition();

		speech.text = 'Welcome to the Dashboard, you need to choose the section to proceed, say Jobs, Training, Resume, Blogs, applied';
		window.speechSynthesis.speak(speech);
		speech.onend = function (event) {
			recognition.start();

			recognition.onstart = function () {
			};

			recognition.onresult = function (event) {
				var transcript = event.results[0][0].transcript;
				var confidence = event.results[0][0].confidence;
				console.log(transcript + '1');
				recognition.stop();
				if (transcript.includes('jobs')) {
					askForEmail();
				} else if (transcript.includes('training')) {
					window.location.href = '/training'
				} else if (transcript.includes('resume')) {
					window.location.href = '/resume'
				} else if (transcript.includes('blogs')) {
					window.location.href = '/blogs'
				} else if (transcript.includes('applied')) {
					window.location.href = '/apply/applied'
				}
			};
		};
	}

	function adjust(size) {
		
		var h1Elements = document.getElementsByTagName("h1");

		for(var i = 0; i < h1Elements.length; i++) {
   			h1Elements[i].style.fontSize = size + "rem";
		}
	}

</script>

</html>