<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>Register | AiD</title>

	<link href="/css/app.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
</head>

<body onload="onLoad()">
	<main class="d-flex w-100">
		<div class="container d-flex flex-column">
			<div class="row vh-100">
				<div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
					<div class="d-table-cell align-middle">

						<div class="text-center mt-4">
							<h1 class="h2">Ability in Disability</h1>
							<p class="lead">
								Register to start accessing the portal.
							</p>
						</div>

						<div class="card">
							<div class="card-body">
								<div class="m-sm-4">
<<<<<<< HEAD
									<form action="/register" method="post">
=======
									<form method="post" action="/register" role="form" id="registerForm">
>>>>>>> bc504044b995de308dfd06887d4bb13d0b6b753b
										<div class="mb-3">
											<label class="form-label">Full Name</label>
											<input class="form-control form-control-lg" type="text" id="name"
												name="name" placeholder="Enter your name" />
										</div>
										<div class="mb-3">
											<label class="form-label">Email Address</label>
											<input class="form-control form-control-lg" type="email" id="email"
												name="email" placeholder="Enter your email address" />
										</div>
										<div class="mb-3">
											<label class="form-label">Password</label>
											<input class="form-control form-control-lg" type="text" id="password"
												name="password" placeholder="Enter password" />
										</div>
										<div class="mb-3">
											<label class="form-label">Phone</label>
											<input class="form-control form-control-lg" type="tel" id="phone"
												maxlength="10" name="phone" placeholder="Enter your phone" />
										</div>
										<div class="mb-3">
											<label class="form-label">Address</label>
											<input class="form-control form-control-lg" type="text" id="address"
												name="address" placeholder="Enter your address" />
										</div>
										<div class="text-center mt-3">
											<span id="action"></span>
										</div>
										<div class="text-center mt-3">
											<button type="submit" class="btn btn-lg btn-primary">Register</button>
										</div>
										<div class="text-center mt-3">
											<a href="/login">Already have an account?
												Login</a>
										</div>
									</form>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</main>

	<script src="/js/app.js"></script>
	<script>
		var isChrome = /Chrome/.test(navigator.userAgent) && /Google Inc/.test(navigator.vendor);

		if (!isChrome) {
			alert('Voice input not available');
		}

		var action = document.getElementById('action');

		let speech = new SpeechSynthesisUtterance();
		speech.lang = "en-US";
		speech.volume = 1;
		speech.rate = 1;
		speech.pitch = 1;

		function onLoad() {
			var SpeechRecognition = SpeechRecognition || webkitSpeechRecognition;
			var recognition = new SpeechRecognition();

			speech.text = 'This is registration page, if you want to register say, register, to login say, login';
			window.speechSynthesis.speak(speech);
			speech.onend = function (event) {
				recognition.start();

				recognition.onstart = function () {
					action.innerHTML = "<small>listening, please speak…</small>";
				};

				recognition.onresult = function (event) {
					var transcript = event.results[0][0].transcript;
					var confidence = event.results[0][0].confidence;
					console.log(transcript + '1');
					action.innerHTML = "<small>stopped listening, hope you are done…</small>"
					recognition.stop();
					if (transcript.includes('register')) {
						askForName();
					} else if (transcript.includes('login')) {
						window.location.href = '/login'
					}
				};
			};
		}

		function askForName() {
			var SpeechRecognition = SpeechRecognition || webkitSpeechRecognition;
			var recognition = new SpeechRecognition();

			speech.text = 'please tell your, full name';
			window.speechSynthesis.speak(speech);
			speech.onend = function (event) {
				recognition.start();

				recognition.onstart = function () {
					action.innerHTML = "<small>listening, please speak…</small>";
				};

				recognition.onresult = function (event) {
					var transcript = event.results[0][0].transcript;
					var confidence = event.results[0][0].confidence;
					console.log(transcript + '1');
					action.innerHTML = "<small>stopped listening, hope you are done…</small>"
					document.getElementById('name').value = transcript;
					recognition.stop();
					askForEmail()
				};
			};
		}

		function askForEmail() {
			var SpeechRecognition = SpeechRecognition || webkitSpeechRecognition;
			var recognition = new SpeechRecognition();

			speech.text = 'please tell your, email address';
			window.speechSynthesis.speak(speech);
			speech.onend = function (event) {
				recognition.start();

				recognition.onstart = function () {
					action.innerHTML = "<small>listening, please speak…</small>";
				};

				recognition.onresult = function (event) {
					var transcript = event.results[0][0].transcript;
					var confidence = event.results[0][0].confidence;
					console.log(transcript + '1');
					action.innerHTML = "<small>stopped listening, hope you are done…</small>"
					document.getElementById('email').value = transcript;
					recognition.stop();
					askForPassword()
				};
			};
		}

		function askForPassword() {
			var SpeechRecognition = SpeechRecognition || webkitSpeechRecognition;
			var recognition = new SpeechRecognition();

			speech.text = 'please tell your, password';
			window.speechSynthesis.speak(speech);
			speech.onend = function (event) {
				recognition.start();

				recognition.onstart = function () {
					action.innerHTML = "<small>listening, please speak…</small>";
				};

				recognition.onresult = function (event) {
					var transcript = event.results[0][0].transcript;
					var confidence = event.results[0][0].confidence;
					console.log(transcript + '1');
					action.innerHTML = "<small>stopped listening, hope you are done…</small>"
					document.getElementById('password').value = transcript;
					recognition.stop();
					askForPhone()
				};
			};
		}

		function askForPhone() {
			var SpeechRecognition = SpeechRecognition || webkitSpeechRecognition;
			var recognition = new SpeechRecognition();

			speech.text = 'please tell your, phone number';
			window.speechSynthesis.speak(speech);
			speech.onend = function (event) {
				recognition.start();

				recognition.onstart = function () {
					action.innerHTML = "<small>listening, please speak…</small>";
				};

				recognition.onresult = function (event) {
					var transcript = event.results[0][0].transcript;
					var confidence = event.results[0][0].confidence;
					console.log(transcript + '1');
					action.innerHTML = "<small>stopped listening, hope you are done…</small>"
					document.getElementById('phone').value = transcript;
					recognition.stop();
					askForAddress()
				};
			};
		}

		function askForAddress() {
			var SpeechRecognition = SpeechRecognition || webkitSpeechRecognition;
			var recognition = new SpeechRecognition();

			speech.text = 'please tell your, address';
			window.speechSynthesis.speak(speech);
			speech.onend = function (event) {
				recognition.start();

				recognition.onstart = function () {
					action.innerHTML = "<small>listening, please speak…</small>";
				};

				recognition.onresult = function (event) {
					var transcript = event.results[0][0].transcript;
					var confidence = event.results[0][0].confidence;
					console.log(transcript + '1');
					action.innerHTML = "<small>stopped listening, hope you are done…</small>"
					document.getElementById('address').value = transcript;
					recognition.stop();
					submitForm();
				};
			};
		}

		function submitForm() {
			if (document.getElementById('name').value != "") {
				if (document.getElementById('email').value != "") {
					if (document.getElementById('password').value != "") {
						if (document.getElementById('phone').value != "") {
							if (document.getElementById('address').value != "") {
								document.getElementById('registerForm').submit();
							}
						}
					}
				}
			}
		}
	</script>

</body>

</html>