<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link href="/css/app.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <title>Applied Jobs | AiD</title>
</head>

<body>
  <div class="main">
    <nav class="navbar navbar-expand navbar-light navbar-bg">
      <a class="sidebar-toggle js-sidebar-toggle">
        <h1>Applied Jobs</h1>
      </a>

      <div class="navbar-collapse collapse">
        <ul class="navbar-nav navbar-align">
          <li class="nav-item dropdown">
            <a role="button" class="nav-icon dropdown-toggle" onclick="adjust(18)" id="alertsDropdown"
              data-bs-toggle="dropdown">
              <div class="position-relative">
                <i class="fa fa-search-minus" style="font-size: xx-large;" aria-hidden="true"></i>
              </div>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a role="button" class="nav-icon dropdown-toggle" onclick="adjust(20)" id="alertsDropdown"
              data-bs-toggle="dropdown">
              <div class="position-relative">
                <i class="fa fa-window-restore" style="font-size: xx-large;" aria-hidden="true"></i>
              </div>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a role="button" class="nav-icon dropdown-toggle" onclick="adjust(22)" id="alertsDropdown"
              data-bs-toggle="dropdown">
              <div class="position-relative">
                <i class="fa fa-search-plus" style="font-size: xx-large;" aria-hidden="true"></i>
              </div>
            </a>
          </li>

          <li class="nav-item dropdown">

            <a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="/logout">
              <span class="text-dark">Logout</span>
            </a>

          </li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-12 mt-4">
          <div class="card flex-fill">  
            <table id="historyTable" class="table table-hover my-0">
              <thead>
                <tr>
                  <th>Company Name</th>
                  <th>Job Title</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <% if(appliedData.length !=0) { %>
                  <% appliedData.forEach(function(data){ %>
                <tr>
                  <td><%= data.jobId.company %></td>
                  <td><%= data.jobId.title %></td>
                  <td><%= data.status %></td>
                </tr>
                <% }) } else { %>
                  <td colspan="4">No previous job history</td>
                  <% } %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>

    <script>
      function adjust(size) {   
		    document.getElementById('historyTable').style.fontSize = size + "px";
      }
    </script>
</body>

</html>