<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>Jobs | AiD</title>

	<link href="/css/app.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
	<div class="container">
		<!-- 1st Row -->
		<div class="row">
			<!-- Raw Materials Card -->
			<div class="col-md-12">
				<div class="card mt-3">
					<div class="card-body">
						<h6 class="card-title" id="job-title"></h6>
						<h2 id="company"></h2>
						
						<ul class="card-text">
							<li id="ratings"></li>
							<li id="reviews"></li>
							<li id="experience"></li>
							<li id="salary"></li>
							<li id="location"></li>
							<li id="posted"></li>
						</ul>
						<div class="row">
							<div class="col-6">
								<button type="button" onclick="next()" class="btn btn-primary">Next</button>
							</div>
							<div class="col-6">
								<button type="button" onclick="navigate()" class="btn btn-primary">Apply</button>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>

	<script>
		function ObjectId(value){}
		var data = [<%- jobs %>];
		var index = 0;
		setData();

		function setData() {
			document.getElementById('job-title').innerText = data[index].title==undefined?'Not Available':data[index].title;
			document.getElementById('company').innerText = data[index].company;
			document.getElementById('ratings').innerText = data[index].ratings==undefined?'Not Available':data[index].ratings;
			document.getElementById('reviews').innerText = data[index].reviews==undefined?'Not Available':data[index].reviews;
			document.getElementById('experience').innerText = data[index].experience;
			document.getElementById('salary').innerText = data[index].salary;
			document.getElementById('location').innerText = data[index].location;
			document.getElementById('posted').innerText = data[index].posted;
		}


		function next() {
			if (index < data.length - 1) {
				index += 1
				setData()
			} else {
				index = 0
				setData()
			}
		}

		function navigate(){
			console.log(data[index]._id)
			window.location.href = '/apply/'+data[index].title + '/' + data[index].company;
		}

	</script>

	<script src="/js/app.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
</body>

</html>